/* Chat Page Styles */
.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-window {
  width: 75%;
  padding: 20px;
  border: 1px solid #b3c6a3;
  border-radius: 8px;
  background-color: #f9f2f2;
  margin-right: 20px;
  height: 100vh; /* 设置高度为视口高度的100% */
}

.chat-directory {
  width: 25%;
  padding: 20px;
  border: 1px solid #296f1bb7;
  border-radius: 8px;
  background-color: #f2efef;
  height: 100vh; /* 设置高度为视口高度的100% */
}

/* Chat Directory Styles */
.chat-room {
  margin-bottom: 10px;
  cursor: pointer;
}

.chat-room:hover {
  background-color: #74ceb9;
}

/* Chat Window Styles */
.chat-bubble {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #6ab572;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sender-name {
  font-weight: bold;
}

.message-content {
  margin-top: 5px;
}