.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
.bubbleandtext{
  display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 5px;
    margin-left: 5px;
}
  .sender {
    font-size: 0.8rem;
    color: #adadad;
    margin-bottom: 5px;
  }
  
  .bubble {
    border-radius: 6px;
    padding: 10px 15px;
    max-width: 60%;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .me {
    align-items: flex-end;
  }
  
  .others {
    align-items: flex-start;
  }
  
  .meBubble {
    background-color: rgb(169, 232, 122);
  }
  
  .othersBubble {
    background-color: #fff;
  }

  .replyBubble{
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 6px; /* 添加这一行来让角更圆润 */
    padding: 6px 10px;
    max-width: 60%;
    margin-top: 2px;
    color: #595959; /* 浅灰色文本颜色 */
    font-size: 14px; /* 设置字体大小为14px */
  }